.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}
.row{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}
label{
    padding-right: 20px;
    font-size: 22px;
}
/* #title{
    width: 56em;
    height: 3em;
} */

/* #author{
    width: 56em;
    height: 3em;
} */
input{
    width: 56em;
    height: 3em;
}
.col2{
    display: flex;
    align-items: center;
}
.col1{
    width: 30%;
    /* border: 2px solid black; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butn{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5em;
}

.butn button{
    width: 11em;
    height: 3em;
    background-color: rgb(187, 231, 142);
    border-radius: 10px;
    cursor: pointer;
}