<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Home page</title>
    
</head>
<script src="header.js" type="module"></script>
<script src="footer.js" type="module"></script>
<body>
    <my-header></my-header>
    <main>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odit quis recusandae expedita dolore reprehenderit rem? Ipsa, dolores at nemo adipisci enim dicta. Numquam laborum ut quas ipsam. Cupiditate, pariatur.
            </p>
        </div>
    </main>
    
    <my-footer></my-footer>
</body>
</html>